Prioriza correos gmail.json
{
  "name": "Prioriza correos gmail",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iEOLKG0fvSqMAoz25e_DK6kVVwSRUIOOQsRGWWw0mxc",
          "mode": "list",
          "cachedResultName": "filtra correos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEOLKG0fvSqMAoz25e_DK6kVVwSRUIOOQsRGWWw0mxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iEOLKG0fvSqMAoz25e_DK6kVVwSRUIOOQsRGWWw0mxc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -208
      ],
      "id": "1e756fb7-7854-4996-8ec9-4afb2fb21ed4",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiIGEZlhPg7msGyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los items (filas)\nconst items = $input.all();\n\n// Crear arrays separados filtrando los valores vac칤os o nulos\nconst listaVips = items.map(item => item.json['Lista VIP']).filter(val => val);\nconst listaRoles= items.map(item => item.json['Roles']).filter(val => val);\nconst listaRutinarios = items.map(item => item.json['Rutinarios']).filter(val => val);\n\n// Retornar un solo objeto con las 3 variables listas para usar\nreturn {\n  json: {\n    listaVips: listaVips,\n    listaRoles: listaRoles,\n    listaRutinarios: listaRutinarios\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -208
      ],
      "id": "8c9e4a27-f1fe-45c6-a566-a2c03a28c054",
      "name": "Reglas"
    },
    {
      "parameters": {
        "jsCode": "// Este c칩digo toma todos los items que vienen de Gmail y crea un solo string JSON\nconst emails = items.map(item => {\n  return {\n    id: item.json.id, // El ID de Gmail es crucial\n    from: item.json.from || item.json.From, // Ajusta seg칰n venga de tu nodo\n    subject: item.json.subject || item.json.Subject,\n    // Truncamos el cuerpo a 300 caracteres para ahorrar tokens y dinero\n    body: (item.json.snippet || item.json.text || \"\").substring(0, 300) \n  };\n});\n\nreturn {\n  json: {\n    batch_emails: JSON.stringify(emails) // Esto es lo que env칤as al Prompt {{ $json.batch_emails }}\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        80
      ],
      "id": "cc4a64d1-34d8-46e2-9657-775858a8465e",
      "name": "Correos"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.batch_emails }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=### ROL Eres un Motor de Triaje Masivo de Correos. Tu objetivo es analizar una LISTA de correos electr칩nicos y clasificar CADA UNO individualmente bas치ndote en las reglas de negocio, devolviendo un resultado estructurado. ### DATOS DE CONTEXTO (Din치micos de Google Sheets) 1. **LISTA VIP:** {{ $('Reglas').first().json.listaVips }} 2. **ROLES Y TEMAS:** {{$('Reglas').first().json.listaRoles}} 3. **RUTINARIOS:** {{$('Reglas').first().json.listaRutinarios}}   ### INSTRUCCIONES DE PROCESAMIENTO Recibir치s un array JSON con m칰ltiples correos. Para CADA objeto del array, debes aplicar la siguiente l칩gica:  1. **Identificar ID:** Debes conservar el \"id\" original del correo en tu respuesta para no perder la trazabilidad. 2. **Analizar Prioridad:**    - **URGENTE:** VIPs, Errores cr칤ticos, Plazos \"hoy\", Palabras de alarma en correos rutinarios pero que tengan contexto de urgencia (Regla Jira). Ante la duda, marca URGENTE.    - **ALTA:** Importante para el rol, plazos futuros.    - **MEDIA:** Informativo, seguimiento.    - **BAJA:** Ruido, notificaciones sin acci칩n.  ### FORMATO DE SALIDA (ESTRICTO) Tu respuesta debe ser UNICAMENTE un Array JSON v치lido (`[...]`). No incluyas texto introductorio ni markdown (```json).  Estructura requerida para cada elemento: [   {     \"id\": \"ID_ORIGINAL_DEL_INPUT\", \"remitente\": \"Direcci칩n de correo del remitente\", \"asunto\": \"Copia breve del asunto\",     \"prioridad\": \"URGENTE | ALTA | MEDIA | BAJA\",     \"accion\": \"Notificar | Archivar | Agendar\",     \"razon\": \"Explicaci칩n muy breve\"   },   ... (repetir para todos los correos) ]",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        208,
        -80
      ],
      "id": "2a5d1acc-7f59-4e8b-b4cf-d11344902554",
      "name": "Message a model",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 3,
      "credentials": {
        "googlePalmApi": {
          "id": "J4qCUFPTqRtLxjph",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Asumimos que la respuesta de la IA viene en \"text\" o \"content\"\nconst aiResponseText = $input.first().json.content.parts[0].text; // Ajusta el campo seg칰n tu modelo (output/text/message)\n\ntry {\n  // Limpiamos posibles bloques de c칩digo markdown que la IA a veces a침ade\n  const cleanJson = aiResponseText.replace(/```json/g, '').replace(/```/g, '').trim();\n  const parsedEmails = JSON.parse(cleanJson);\n  \n  // Devolvemos cada correo analizado como un item individual\n  return parsedEmails.map(email => ({ json: email }));\n  \n} catch (error) {\n  // Si falla, devolvemos el error para depurar\n  return [{ json: { error: \"Fallo al parsear JSON de IA\", raw: aiResponseText } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -80
      ],
      "id": "6f551b58-bf94-4cf0-a684-9da7fdbbecc6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}",
                    "rightValue": "URGENTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3f8360bb-4107-4a91-8aa1-185c9834c849"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de8416b9-4c46-4db9-8ead-15a9c3cf33d0",
                    "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}",
                    "rightValue": "ALTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "14ea841a-409e-4bc2-88b9-44082974118d",
                    "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}",
                    "rightValue": "MEDIA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1ca3e5f-dace-451a-a8dd-8f9f5b28fc04",
                    "leftValue": "={{ $('Code in JavaScript').item.json.prioridad }}",
                    "rightValue": "BAJA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        880,
        -112
      ],
      "id": "094e0c46-ab57-4651-8d5d-9589b4232630",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "Tu_chat_id",
        "text": "=游뚿 Tienes un correo que debes atender.\nAsunto:  {{ $('Code in JavaScript').item.json.asunto }} \nEnviado por:{{ $('Code in JavaScript').item.json.remitente }}  \nAcci칩n: {{ $('Code in JavaScript').item.json.accion }} \nDebido a: {{ $('Code in JavaScript').item.json.razon }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -304
      ],
      "id": "feadfff0-bcfa-4903-be43-5dbc0ee3fd09",
      "name": "Send a text message",
      "webhookId": "d8fa22e7-ab92-446e-a74c-d828b7bd785c",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "3lK0uYSbppJtMYo7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Code in JavaScript').item.json.id }}",
        "labelIds": [
          "Label_2504505894815155822",
          "Label_2729937541282606581"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        -304
      ],
      "id": "d4222a96-72b2-43e8-a740-181ce4f6c793",
      "name": "Etiqueta - urgente",
      "webhookId": "14b31214-80ca-4a7d-a85d-b839de5d0f68",
      "credentials": {
        "gmailOAuth2": {
          "id": "CUYfUkv7UCkWsMXf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Code in JavaScript').item.json.id }}",
        "labelIds": [
          "Label_2729937541282606581",
          "Label_6931696983357304506"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        -96
      ],
      "id": "c9bdc048-5dfb-4f49-a0d3-a534b821036a",
      "name": "Etiqueta - Alta",
      "webhookId": "21a62a2f-7c2e-4bf1-bf58-e4b1be216ae5",
      "credentials": {
        "gmailOAuth2": {
          "id": "CUYfUkv7UCkWsMXf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Code in JavaScript').item.json.id }}",
        "labelIds": [
          "Label_2729937541282606581",
          "Label_576649016933488171"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        80
      ],
      "id": "74f5fbe9-5214-49c7-a195-12c5fac9cc5d",
      "name": "Etiqueta - medio",
      "webhookId": "f953b738-5fec-47b6-89bf-25725ade414f",
      "credentials": {
        "gmailOAuth2": {
          "id": "CUYfUkv7UCkWsMXf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Code in JavaScript').item.json.id }}",
        "labelIds": [
          "Label_2729937541282606581",
          "Label_846594090486910250"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1200,
        208
      ],
      "id": "797bed5e-b804-414d-9091-4446a978cb24",
      "name": "Etiqueta - bajo",
      "webhookId": "0d5a8a8c-aee4-4239-be90-91381c5a6884",
      "credentials": {
        "gmailOAuth2": {
          "id": "CUYfUkv7UCkWsMXf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "q": "label:INBOX -label:IA_Procesado",
          "readStatus": "unread",
          "receivedAfter": "2025-12-05T00:00:00"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -256,
        80
      ],
      "id": "c84be27b-f4d1-4860-ba14-33db4fe9c726",
      "name": "Get many messages",
      "webhookId": "f9e4fb02-bf7d-434f-b17c-3588a09a9374",
      "credentials": {
        "gmailOAuth2": {
          "id": "CUYfUkv7UCkWsMXf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        -208
      ],
      "id": "e36aeac5-6552-41d9-823b-243af2ca74e1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oWcFKyE2Sk0YGpL05Ae8TPCJPVqmACwgNQVaJdDv6wM",
          "mode": "list",
          "cachedResultName": "log de filtro de correos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oWcFKyE2Sk0YGpL05Ae8TPCJPVqmACwgNQVaJdDv6wM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oWcFKyE2Sk0YGpL05Ae8TPCJPVqmACwgNQVaJdDv6wM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Remitente": "={{ $json.remitente }}",
            "Asunto": "={{ $json.asunto }}",
            "Prioridad": "={{ $json.prioridad }}",
            "Accion": "={{ $json.accion }}",
            "Razon": "={{ $json.razon }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Remitente",
              "displayName": "Remitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asunto",
              "displayName": "Asunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Accion",
              "displayName": "Accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Razon",
              "displayName": "Razon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -80
      ],
      "id": "8e98bade-1915-4aa3-83e0-ebb40bc54901",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "oiIGEZlhPg7msGyZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "tu_chat_id",
        "text": "Error al ejecutar la tarea de priorizacion de correos",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        112
      ],
      "id": "21ed8158-7a6e-43c1-9dd1-d9511adcbfa2",
      "name": "Send a text message1",
      "webhookId": "065ca98f-6653-4570-aa43-6be72c023c7a",
      "credentials": {
        "telegramApi": {
          "id": "3lK0uYSbppJtMYo7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Reglas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reglas": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correos": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Etiqueta - urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Etiqueta - Alta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Etiqueta - medio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Etiqueta - bajo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Etiqueta - urgente": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Correos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9dae9f08-1ec6-466f-bc0c-b637ceee1a77",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9a615ff4ea862f1a3ed445480172f2212499f655fca15f1cacf2de19c6363aa"
  },
  "id": "TF9lkOYEHNGkUZb7",
  "tags": []
}